* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #F5F8F9;
}
/* Header, logo, title */
header {
  line-height: 70px;
  background-color: white;
}

h1 {
  display: inline;
  font-size: 35px;
  vertical-align: middle;
}

.logo {
  background-color: white;
  vertical-align: middle;
  margin: 0 5px 0 15px;
}

/* Button */

.container-button {
  width: 1200px; 
  height: 60px;
  margin: auto;
  background-color: white;
  margin-top: 40px;
  border-radius: 4px;

}

.task {
  text-decoration: none;
  color: white;
  background-color: rgb(57, 161, 222);
  border: 1px solid rgb(57, 161, 222);
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  padding: 4px 20px;
  margin-left: 40px;
}

.button {
  line-height: 70px;
}

.section {
  text-decoration: none;
  color: gray;
  background-color: white;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  padding: 4px 20px;
}

/* Main content */
.main-container {
  width: 1200px;
  height: 600px;
  margin: auto;
  background-color: white;
  border-radius: 4px;
}

details > summary {
  padding: 2px 6px;
  font-size: 20px;
  font-weight: bold;

}

/* Symbols and circle */
.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  text-align: center;
  border: 1px solid #5FBDA6;
  color: #5FBDA6;
}

.circle-cross {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  text-align: center;
  border: 1px solid #ED7772;
  color: #ED7772;
}

/* Details */

details {
  margin-left: 30px;
  padding: 15px;
}

details.top {
  padding-top: 40px;
  margin-top: 5px;

}

/* Labels */

.blue-label {
  display: inline-block;
  width: 80px;
  height: 25px;
  line-height: 25px;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  background-color: #45ABEB;
  color: white;
  font-size: 12px;
}

.violet-label {
  display: inline-block;
  width: 80px;
  height: 25px;
  line-height: 25px;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  background-color: #9C72E4;
  color: white;
  font-size: 12px;
}

.green-label {
  display: inline-block;
  width: 80px;
  height: 25px;
  line-height: 25px;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  background-color: #64C0A9;
  color: white;
  font-size: 12px;
}

.orange-label {
  display: inline-block;
  width: 80px;
  height: 25px;
  line-height: 25px;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  background-color: #F29E33;
  color: white;
  font-size: 12px;
}

.fucsia-label {
  display: inline-block;
  width: 80px;
  height: 25px;
  line-height: 25px;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  background-color: #D763A1;
  color: white;
  font-size: 12px;
}

.greenlight-label {
  display: inline-block;
  width: 80px;
  height: 25px;
  line-height: 25px;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  background-color: #B0C925;
  color: white;
  font-size: 12px;
}
